<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name = "viewport" content="width = device-width,initial-scale = 1">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>文章管理器</title>
    <link rel = "stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
    <SCRIPT language="JavaScript">
        <!--
        function checkreg(f1)
        {
            if (f1)
            {
                alert("用户已存在！");
                form1.User.focus();
                return false;
            }

		if (document.form1.User.value=="")
            {
                alert("请输入您的用户名!");
                form1.User.focus();
                return false;
            }
            if (document.form1.User.value.length<4 || document.form1.User.value.length>15)
            {
                alert("用户名长度限制在4-15位!");
                form1.User.focus();
                return false;
            }
            if (document.form1.Pwd.value=="")
            {
                alert("请输入密码!");
                form1.Pwd.focus();
                return false;
            }
            if (document.form1.Pwd.value.length<6 || document.form1.Pwd.value.length>15)
            {
                alert("密码长度限制在6-15位!");
                form1.Pwd.focus();
                return false;
            }
            if(document.form1.Pwd.value!=document.form1.Pwdagain.value)
            {
                alert("两次输入的密码不同!")
                form1.Pwd.focus();
                return false;
            }
            if (document.form1.Email.value=="")
            {
                alert("请输入您的Email地址!");
                form1.Email.focus();
                return false;
            }
            var myRegex = /@.*\.[a-z]{2,6}/;
            var email = form1.Email.value;
            email = email.replace(/^ | $/g,"");
            email = email.replace(/^\.*|\.*$/g,"");
            email = email.toLowerCase();


            if (email == "" || !myRegex.test(email))
            {
                alert ("请输入有效的E-MAIL!");
                form1.Email.focus();
                return false;
            }
            return true;
        }
        function Isval(val,name)
        {
            if (val.value!='' && (isNaN(val.value) || val.value==0))
            {
                alert(name+"应填数字！");
                val.value="";
                val.focus();
            }
        }
        //-->
    </SCRIPT>
    <style>
        body{
            padding-top: 100px;
        }
        td{padding:10px;border:1px ;}
        tr{
            display:block; /*将tr设置为块体元素*/
            margin:2px;  /*设置tr间距为2px*/}
    </style>
</head>
<body>
<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class = "container">
        <div id="navbar" class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li class = "text-right"><a href = "/login/">首页</a></li>
                <li class = "active text-right"><a href = "#">注册</a></li>
                <li class = "text-right"><a href = "/login/">登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class = "container">
    <h1 class = "form-signin-heading" style="text-align:center"><strong>注册</strong></h1>
    <form name="form1"  onsubmit="return checkreg({{ f1 }})" method="post">
        <table border="0" cellpadding="0" cellspacing="0" bordercolor="#0000FF" align="center">

            <tr>
                <td>用户名&nbsp&nbsp&nbsp</td>
                <td colspan="2">
                    <input type="text" name="username" id="User" class="form-control" placeholder="Username" required autofocus/>
            </tr>
            <tr>
                <td>密码&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="password" name="pass" id="Pwd" class="form-control" placeholder="Password" required></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td colspan="2"><input type="password" name="passagain" id="Pwdagain" class="form-control" placeholder="Confirm Password" required></td>
            </tr>
            <tr>
                <td>E-mail&nbsp&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="email" name="email" id="Email" class="form-control" placeholder="E-mail"required></td>
            </tr>
            <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button class="btn btn-sm btn-primary left" type="submit" name="Submit"><strong>&nbsp&nbsp&nbsp&nbsp提交&nbsp&nbsp&nbsp&nbsp</strong></button>
                <!--<input type="submit" name="Submit" value="提交" ></input>-->
            </td>
                <td colspan="2">
                    <!--<input type="reset" name="Reset" value="重置" /> </td>-->
                <button class="btn btn-sm btn-primary btn-danger right" type="reset"><strong>&nbsp&nbsp&nbsp&nbsp重置&nbsp&nbsp&nbsp&nbsp</strong></button>
            </tr> </table>
        </form>
</div>
</body>
</html>


    <!--<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">-->
        <!--<div class = "container">-->
            <!--<div class = "navbar-header">-->
                <!--<a href = "#" class = "navbar-brand">文章管理器</a>-->
            <!--</div>-->
            <!--<div id="navbar" class = "collapse navbar-collapse">-->
                <!--<ul class = "nav navbar-nav">-->
                    <!--<li class = "text-right"><a href = "#">首页</a></li>-->
                    <!--<li class = "active  text-right"><a href = "regist.html">注册</a></li>-->
                    <!--<li class = "text-right"><a href = "#">登录</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
        <!--<div id="formbox">-->
            <!--<form id="formpersonal" class = "regist" method="post" onsubmit="return false;">-->
                <!--<div class="form">-->
                    <!--<h3>帐户信息</h3>-->
                    <!--<div class="item">-->
                        <!--<span class="label"><span class="red">*</span>用户名：</span>-->
                        <!--<div class="fl">-->
                            <!--<input type="text" id="username" name="username" class="text" tabindex="1" />-->
                            <!--<label id="username_succeed" class="blank"></label>-->
                            <!--<span class="clear"></span>-->
                            <!--<div id="username_error"></div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;item end&ndash;&gt;-->

                    <!--<div id="o-password">-->
                        <!--<div class="item">-->
                            <!--<span class="label"><span class="red">*</span>设置密码：</span>-->
                            <!--<div class="fl">-->
                                <!--<input type="password" id="pwd" name="pwd" class="text" tabindex="2"/>-->
                                <!--<label id="pwd_succeed" class="blank"></label>-->
                                <!--<input type="checkbox" class="checkbox" id="viewpwd"/>-->
                                <!--<label class="ftx23" for="viewpwd">显示密码字符</label>-->
                                <!--<span class="clear"></span>-->
                                <!--<label class="hide" id="pwdstrength"><span class="fl">安全程度：</span><b></b></label>-->
                                <!--<label id="pwd_error"></label>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash;item end&ndash;&gt;-->

                        <!--<div class="item">-->
                            <!--<span class="label"><span class="red">*</span>确认密码：</span>-->
                            <!--<div class="fl">-->
                                <!--<input type="password" id="pwd2" name="pwd2" class="text" tabindex="3"/>-->
                                <!--<label id="pwd2_succeed" class="blank"></label>-->
                                <!--<span class="clear"></span>-->
                                <!--<label id="pwd2_error"></label>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash;item end&ndash;&gt;-->

                    <!--</div>&lt;!&ndash;o-password end&ndash;&gt;-->

                    <!--<div class="item">-->
                        <!--<span class="label"><span class="red">*</span>邮箱：</span>-->
                        <!--<div class="fl">-->
                            <!--<input type="text" id="mail" name="mail" class="text" tabindex="4"/>-->
                            <!--<label id="mail_succeed" class="blank"></label>-->
                            <!--<span class="clear"></span>-->
                            <!--<div id="mail_error"></div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;item end&ndash;&gt;-->


                    <!--<div class="item">-->
                        <!--<span class="label">&nbsp;</span>-->
                        <!--<input type="button" class="yellow_button disabled" id="registsubmit" value="提交注册信息" tabindex="8" disabled="disabled" />-->
                    <!--</div>&lt;!&ndash;item end&ndash;&gt;-->

                <!--</div>-->
            <!--</form>-->
        <!--</div>&lt;!&ndash;formbox end&ndash;&gt;-->
    <!--<script type="text/javascript" src="js/Validate.js"></script>-->
    <!--<script type="text/javascript" src="js/Validate.form.js"></script>-->
<!--</body>-->
<!--</html>-->