<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name = "viewport" content="width = device-width,initial-scale = 1">
	<link rel="stylesheet" href="/static/kindeditor-4.1.10/themes/default/default.css"/>
    <script charset="utf-8" src="/static/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/kindeditor-4.1.10//lang/zh_CN.js"></script>
	<script type="text/javascript" src="/static/js/shCore.js"></script>
	<link rel = "stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/image/article.ico" />
    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
        var editor;

        KindEditor.ready(function (K) {

            editor = K.create('#content2', {
                themeType: 'simple',
                cssPath: '/static/kindeditor-4.1.10/plugins/code/prettify.css',
                resizeType: 1,
				pasteType : 1,
                uploadJson: '/uploadImg/',
				afterBlur:function(){this.sync();}, 
				items:["image",]
            });
            prettyPrint();
            K('input[name=tijiao]').click(function (e) {
                document.getElementById("sname").value = editor.html();

            });
        });
    </script>
    <title>文章管理器</title>
    <style>
        body{
            padding-top: 100px;
        }
        
		.asdf table td{padding:10px;border:1px ;}
        .asdf table tr{
            display:block; /*将tr设置为块体元素*/
            margin:2px;  /*设置tr间距为2px*/}
			
    </style>
</head>
<body>
<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class = "container">
        
        <div id="navbar" class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li class = "text-right"><a href = "/account/">主页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        我的书单 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/show_all/">显示全部</a></li>
                        <li><a href="/account/show_root/">按类展示</a></li>
                    </ul>
                </li>
                
                <li class = "active text-right"><a href = "/account/setting/">设置</a></li>
                <li class = "text-right"><a href = "/logout/">注销</a></li>
            <li  style="padding-top: 8px;">
                    <form>
                        <table>
                            <tr>
                                <td><input class="form-control" type="text" name="bookname"></td>
                                <td colspan="2">&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-sm btn-primary" type="submit">搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class = "container">
    <h1 class = "form-signin-heading" style="text-align:center"><strong>修改资料</strong></h1>
    <form name="form1"  class = "asdf" onsubmit="return checkreg()" method="post">
        <table border="0" cellpadding="0" cellspacing="0" bordercolor="#0000FF" align="center">

            <tr>
                <td>昵称&nbsp&nbsp&nbsp&nbsp</td>
                <td colspan="2">
                    <input type="text" name="Nichname" class="form-control" placeholder="Nichname">
            </tr>
            <tr>
                <td>兴趣&nbsp&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="text" name="intersting" class="form-control" placeholder="intersting" ></td>
            </tr>
            <tr>
                <td class="td_bg" width="45%" height="26" align="right">头像</td></tr>
                <tr><td><div>
						<div>
							<textarea id="content2" name="content"
								style="width:10px;height:0px;"></textarea>
						</div>
				</div></td>
            </tr>
            <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button class="btn btn-sm btn-primary right" type="submit" name = "tijiao"><strong>&nbsp&nbsp&nbsp&nbsp提交&nbsp&nbsp&nbsp&nbsp</strong></button>
            </td>
                <td colspan="2">
                    <button class="btn btn-sm btn-primary right" type="reset"><strong>&nbsp&nbsp&nbsp&nbsp重置&nbsp&nbsp&nbsp&nbsp</strong></button>
            </tr> </table>
    </form>
</div>
</body>
</html>