<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name = "viewport" content="width = device-width,initial-scale = 1">
    <title>文章管理器</title>
    <link rel="shortcut icon" href="/static/image/article.ico" />
    <link rel = "stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>

        .upload{
            border-top-left-radius: 20px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px dashed #000000;
            height:400px;
            width:700px;
            margin:100px 200px 0px 200px;}
        
    </style>
	<script>
    $(document).ready(function(){
      $("#queding").click(function(){
        var name = $("#styl").val();
        
            $('#type').val(name)
 
      });
    });
	</script>
</head>
<body>
<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class = "container">
        
        <div id="navbar" class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li class = "text-right"><a href = "/account/">主页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        我的书单 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/show_all/">显示全部</a></li>
                        <li><a href="/account/show_root/">按类展示</a></li>
                    </ul>
                </li>
                
                <li class = "text-right"><a href = "/account/setting/">设置</a></li>
                <li class = "text-right"><a href = "/logout/">注销</a></li>
            <li  style="padding-top: 8px;">
                    <form>
                        <table>
                            <tr>
                                <td><input class="form-control" type="text" name="bookname"></td>
                                <td colspan="2">&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-sm btn-primary" type="submit">搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class = "container">
    
    <form name="form1"  class="upload" method="post">
        <table border="0"  border="0" cellpadding="0" cellspacing="0" bordercolor="#0000FF" align="center" style="padding-top:10px">

            <tr height = "30px" style="padding-top:10px">
		<td>题目*&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="text" name="title" class="form-control" value={{ a.Title }}></td></tr>
		<tr><td>&nbsp&nbsp&nbsp</td></tr>

	  <tr height = "30px">
                <td>关键字1*&nbsp&nbsp&nbsp</td>
                <td colspan="2">
                    <input type="text" name="kw1" class="form-control" value={{ a.keywords1 }}></td></tr>
		<tr><td>&nbsp&nbsp&nbsp</td></tr>

            <tr height = "30px">
                <td>关键字2*&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="text" name="kw2" class="form-control" value={{ a.keywords2 }}></td>
            </tr>
		<tr><td>&nbsp&nbsp&nbsp</td>
                <tr>
                <td>关键字3*&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="text" name="kw3" class="form-control" value={{ a.keywords3 }}></td>
            </tr><tr><td>&nbsp&nbsp&nbsp</td></tr>
<tr>
                <td>作者*&nbsp&nbsp&nbsp</td>
                <td colspan="2"><input type="text" name="author" class="form-control" value={{ a.author }}></td>
            </tr><tr><td>&nbsp&nbsp&nbsp</td></tr>
			<tr><td>分类：&nbsp&nbsp&nbsp</td>
                            <td><input type="text" name="type" id="type" readonly="readonly"
                                       class="form-control" value = {{ a.style.name }}></td>
                            <td>
                                <li class="dropdown">
                                    <button class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu">
                                        {% for style in root %}
                                        <li><a href="javascript:$('#type').val('{{ style.name }}')">{{ style.name }}</a></li>
                                        {% endfor %}
                                        <li data-toggle="modal"
                                            data-target="#myModal"><a href="#">添加新分类</a></li>
                                    </ul>
                                </li>
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    添加的类别
                                                </h4>
                                            </div>

                                            <div class="modal-body">
                                                <input type="text" name="styl" id="styl" class="form-control"
                                                       value="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" id="queding" name = "queding" data-dismiss="modal">确定</button>
                                            </div>

                                        </div>
                                        <!-- /.modal-content -->

                                    </div>
                                    <!-- /.modal -->

                            </td>
            </tr>
                <tr><td>&nbsp&nbsp&nbsp</td></tr>
               <td> <button class="btn btn-sm btn-primary left" type="submit" name="tijiao"><strong>&nbsp&nbsp&nbsp&nbsp提交&nbsp&nbsp&nbsp&nbsp</strong></button></td>
                <!--<input type="submit" name="tijiao" value="提交" ></input>-->
            
                <td>
                    <!--<input type="reset" name="Reset" value="重置" /> </td>-->
                    <button class="btn btn-sm btn-primary btn-danger right" type="reset"><strong>&nbsp&nbsp&nbsp&nbsp重置&nbsp&nbsp&nbsp&nbsp</strong></button>
            </tr> </table>
    </form>
</div>

</body>
</html>